<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ "/public/andreas08.css" | relative_url }}" title="Andreas08" media="all" />
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <title>{{ page.title }} &raquo; Bryce Boe @ CS.UCSB</title>
  </head>
  <body>
    <div id="container" >
      <div id="header">
        <h1>Bryce Boe</h1>
        <h2>Computer Science Ph.D.</h2>
      </div>

      {% include navigation.html %}

      <div id="content">
        {{ content }}
      </div>

      <div id="subcontent">
        <div class="topimage"><img src="{{ "/public/me_0411.jpg" | relative_url }}" alt="me" /></div>
        <div class="topimage"><img src="{{ "/public/email.jpg" | relative_url }}" alt="email" /></div>
        <div class="centerurl"><a href="http://twitter.com/#!/bboe">Twitter @bboe</a></div>
        <div class="centerurl"><a href="https://github.com/bboe">GitHub: bboe</a></div>
        <div class="centerurl"><a href="http://scholar.google.com/citations?user=T83k-n8AAAAJ&amp;hl=en">Google Scholar</a></div>
        <div class="centerurl"><a href="{{ "/public/bboe_ssh.pub" | relative_url }}">My SSH Public Key</a></div>
        <div class="centerurl"><a href="{{ "/public/bboe_gpg.pub" | relative_url }}">My GPG Public Key</a></div>
        <div class="centerurl"><a href="http://bryceboe.com">bryceboe.com</a></div>
      </div>

      <div id="footer">
        <p>&copy; 2008-{{ site.time | date: "%Y"}} <a href="#">Bryce Boe</a> | Design
          by <a href="http://andreasviklund.com">Andreas Viklund</a></p>
      </div>
    </div>
  </body>
</html>



    </div>
  </body>
</html>
